<footer class="footer-distributed">

  <div class="footer-left">

    <h3>V-<span>remont</span></h3>

    <p class="footer-links">
      <a href="#">Главная страница</a>
      ·
      <a href="#">О нас</a>
      ·
      <a href="#">Цены</a>
      ·
      <a href="#">Контакты</a>
      ·
      <a href="#">Почему не выдали чек</a>·
    </p>

    <p class="footer-company-name">v-remont &copy; 2021</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>ТЦ "Замок"</span><span>8(044) 77-44-995</span> Минск, Беларусь</p>
    </div>

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>ТЦ "Корона-Сити"</span><span>8(029) 129-66-99</span> Минск, Беларусь</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+375296456301</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:given@rambler.ru">given@rambler.ru</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
    </p>

    <div class="footer-icons">

      <a href=""><i class="fa fa-facebook">e</i></a>
      <a href="#"><i class="fa fa-twitter">d</i></a>
      <a href=""><i class="fa fa-instagram" ></i></a>
      <a href="assets/Image/png-transparent-instagram-icon-home-cafe-youtube-email-instagram-logo-text-united-states-magenta-thumbnail.png"><i class="fa fa-vkontakte">a</i></a>

    </div>

  </div>

</footer>
